<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.learning.dao.cosmo.BaseBarcodeInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring.learning.model.BaseBarcodeInfoModel">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_code" property="updateUserCode"/>
        <result column="update_time" property="updateTime"/>
        <result column="spare1" property="spare1"/>
    </resultMap>
</mapper>
